@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 root: {
--VeryLightGrayishBlue: hsl(240, 78%, 98%);
--LightGrayishBlue: hsl(234, 14%, 74%);
--GrayishBlue: hsl(233, 13%, 49%);
--DarkGrayishBlue: hsl(232, 13%, 33%);
 }
body {
  min-height: 100vh;
  display: flex;
  font-weight: 700;
  background-color: hsl(240, 78%, 98%);
  color: hsl(233, 13%, 49%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}
li{
  list-style: none;
}
h1,h2{
  color: hsl(232, 13%, 33%);
}

.monthly{
  display: none;
}

.show-monthly .monthly{
  display: block;
}

.show-monthly .yearly{
  display: none;
}
/* background */
.bg-top{
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
}
.bg-bottom{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -10;
}
.title{
  color: hsl(233, 13%, 49%);
}
/* toggle button */
.toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}
.toggle{
  display: flex;
  align-items: center;
  margin: 2em 0;
}
.toggle p{
  font-size: 0.9em;
  color:hsl(234, 14%, 74%);
}
.toggle-box{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 2em;
}
.toggle input{
  opacity: 0;
  width: 0;
  height: 0;
}
.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 50px;
  transition: 0.3s;
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%))
}
.slider:hover{
  opacity: 0.8;
}
.slider::before{
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  transition: 0.3s;
}
input:checked + .slider::before{
  transform: translateX(26px);
  -webkit-transform: translateX(26px);
}


/* panel */
.panel{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px,300px));
  align-items: center;
  justify-content: center;
  margin-bottom: 85px;
}
.pricing-plan{
  background: white;
  padding: 1.2em 1em;
  display: flex;
  box-shadow: 0 10px 14px rgba(73, 76, 95, 0.034);
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px
}
.pricing-header{
  font-size: 1rem;
  color:hsl(233, 13%, 49%);
}
.pricing-price{
  font-size: 3.25rem;
  margin: 0.3em;
}
.pricing-features{
  width: 80%;
  border-top:  1px solid rgba(179, 181, 198, 0.5);
}
.pricing-features-item{
  padding: 1em 0;
  border-bottom: 1px solid rgba(179, 181, 198, 0.5);
}
.pricing-btn{
  border: 1px solid;
  border-radius: 5px;
  margin-top: 1em;
  width: 80%;
  padding: 1em;
  color: white;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 0.75rem;
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%))
}
.pricing-btn:hover{
  border-color: hsl(234, 14%, 47%);
  background: #fff;
  color:hsl(237, 63%, 64%);
}
.is-featured {
  background: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  z-index: 100;
  transform: scale(1.1);
}
.is-featured .pricing-header{
  color: white;
}
.is-featured .pricing-btn{
  border-color: hsl(234, 14%, 74%);
  background: #fff;
  color: hsl(237, 63%, 64%);
}
.is-featured .pricing-btn:hover{
  background: transparent;
  color: white;
  border-color: white;
}
.footer{
  font-size: 0.8rem;
  text-align: center;
}
.footer span{
  margin-top: 10px;
  display: block;
}
@media(max-width: 760px){
  body{
    justify-content: stretch;
  }
  .toggle-container{
    margin-top: 2em;
  }
  .slider:hover{
    opacity: 1;
  }
  .panel{
    gap:2em;
    margin: 2em;
  }
  .is-featured{
    transform: scale(1);
  }
  .bg-bottom img{
    display: none;
  }
}
